* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* I N I C I O */

.contenedorInicio {

    height: 100vh;
    background-image: linear-gradient( to bottom,  rgb(252, 183, 217),rgb(247, 215, 157),rgb(247, 247, 146),rgb(247, 247, 146),rgb(247, 247, 146),rgb(247, 247, 146),rgb(247, 247, 146),rgb(247, 247, 146));
}


nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    float: right;
    margin-right: 3rem;
    position: relative;
}

li {
    padding: 8px 30px 8px 30px;
    margin: 1rem;
    list-style: none;
}

.menuLineal a {
    text-decoration: none;
    color: rgb(78, 75, 75);
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.dropdown {
    display: none;
}

.github {
    width: 3%;
    position: absolute;
    margin: 20px;
}

.whatsapp , .linkedin , .instagram , .facebook , .mail {
    width: 2%;
    position: absolute;
    opacity: 80%;
}

.whatsapp {
    margin-left: 92%;
    margin-top: 35%;
}

.linkedin {
    margin-left: 90%;
    margin-top: 38%;
}

.instagram {
    margin-left: 88%;
    margin-top: 41%;

}

.facebook {
    margin-left: 85%;
    margin-top: 43%;

}

.mail {
    margin-left: 82%;
    margin-top: 45%;

}

.imagenInicio {
    width: 50%;
    border-end-end-radius: 50%;
    border-top-left-radius: 70%;
    float: right;
    margin: 6rem;
}

.hola {
    position: absolute;
    margin-left: 4%;
    margin-top: 11%;
    font-family: 'Love Ya Like A Sister', cursive;
    color: rgb(43, 41, 41);
    font-size: 2.4rem;
    font-weight: lighter;
}

.nombre , .nombre2 , .apellido {
    margin-left: 12%;
    position: absolute;
    font-family: 'Rampart One', cursive;
    font-size: 4.5rem;
    padding: 1px 15px 1px 10px;
    text-shadow: 3px 3px white ;
    color: rgb(43, 41, 41);
    background-image: linear-gradient(to right , rgb(250, 158, 204), rgb(247, 159, 203) , rgb(250, 202, 140), rgb(253, 164, 81) );
    border-radius: 500%;
    opacity: 92%;
}

.nombre {
    margin-top: 14%;
}

.nombre2 {
    margin-top: 21%;
}

.apellido {
    margin-top: 28%;
}

.profesiones  {
    position: absolute;
    margin-left: 12%;
    margin-top: 38%;
    color: rgb(59, 56, 56);
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: lighter;
    font-size: 1.1rem;
}



/* P A G I N A   P O R T A F O L I O */


.contenedorPortafolio  {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient( to bottom,  rgb(252, 183, 217),rgb(247, 247, 146));
}

.presentacion {
    margin: 6% 2% 3% 2%;
    font-family: 'Zilla Slab', serif;
    color: rgb(43, 37, 37);
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    text-shadow: 1px 1px white ;
}

.imagenesPortafolio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15px;
}

.maquetado , .club ,.fiu {
    width: 96%;
    padding: 2px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.habilidades {
    font-family: 'Zilla Slab', serif;
    color: rgb(43, 37, 37);
    font-size: 1.8rem;
    text-shadow: 2px 2px white ;
    text-align: center;
    font-weight: lighter;
    margin-top: 6%;
    margin-bottom: 1%;
}

.iconosHabilidades {
    width: 100%;
}



/* P A G I N A   S O B R E    M I */

.contenedorSobremi  {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient( to bottom,  rgb(252, 183, 217),rgb(247, 247, 146));
}

.contenidoSobremi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40px;
    margin-left: 20px;
}

.imagenSobremi {
    width: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 70%;
    float: left;
    padding: 20px;
}

.textoSobremi {
    font-family: 'Zilla Slab', serif;
    color: black;
    font-size: 1.7rem;
    text-shadow: 1px 1px white ;
    font-weight: lighter;
    margin: 50px;
    text-align: center;  
}

.botonCv {
    width: 20%;
    padding: 6px;
    float: right;
    margin-right: 15%;
    background-color: rgb(252, 183, 217);
    border-color: white;
    font-family: 'Zilla Slab', cursive;
    font-size: 1.5rem;
}



@media screen and (max-width: 1240px) {
    .nombre {
        margin-top: 14%;
    }
    
    .nombre2 {
        margin-top: 22%;
    }
    
    .apellido {
        margin-top: 30%;
    }

    .profesiones  {
        margin-top: 40%;
    }

}

@media screen and (max-width: 1200px) {
    .nombre {
        margin-top: 16%;
    }
    
    .nombre2 {
        margin-top: 23%;
    }
    
    .apellido {
        margin-top: 30%;
    }

    .profesiones  {
        margin-top: 41%;
    }

    .whatsapp {
        margin-left: 92%;
        margin-top: 37%;
    }
    
    .linkedin {
        margin-left: 90%;
        margin-top: 40%;
    }
    
    .instagram {
        margin-left: 88%;
        margin-top: 43%;
    
    }
    
    .facebook {
        margin-left: 85%;
        margin-top: 45%;
    
    }
    
    .mail {
        margin-left: 82%;
        margin-top: 47%;
    
    }

    .nombre , .nombre2 , .apellido {
        font-size: 4rem;
    }

    .profesiones  {
        font-size: 1rem;
    }

    .contenidoSobremi {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 40px;
        margin-left: 20px;
    }

    .imagenSobremi {
        width: 80%;
    }
}

@media screen and (max-width: 1090px) {
    .nombre , .nombre2 , .apellido {
        font-size: 3.7rem;
    }

    .profesiones  {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1030px) {
    .hola {
        margin-top: 15%;
    }

    .nombre {
        margin-top: 20%;
    }
    
    .nombre2 {
        margin-top: 28%;
    }
    
    .apellido {
        margin-top: 36%;
    }

    .profesiones  {
        margin-top: 47%;
    }

    .imagenInicio {
        width: 49%;
    }

    .whatsapp {
        margin-left: 90%;
        margin-top: 39%;
    }
    
    .linkedin {
        margin-left: 88%;
        margin-top: 42%;
    }
    
    .instagram {
        margin-left: 86%;
        margin-top: 45%;
    
    }
    
    .facebook {
        margin-left: 83%;
        margin-top: 47%;
    
    }
    
    .mail {
        margin-left: 80%;
        margin-top: 49%;
    
    }

}

@media screen and (max-width: 900px) {
    .hola {
        font-size: 1.8rem;
    }

    .nombre , .nombre2 , .apellido {
        font-size: 3.2rem;
    }

    .profesiones  {
        font-size: 0.7rem;
    }

    .whatsapp {
        margin-left: 88%;
        margin-top: 42%;
    }
    
    .linkedin {
        margin-left: 86%;
        margin-top: 45%;
    }
    
    .instagram {
        margin-left: 83%;
        margin-top: 48%;
    
    }
    
    .facebook {
        margin-left: 80%;
        margin-top: 50%;
    
    }
    
    .mail {
        margin-left: 77%;
        margin-top: 52%;
    
    }

    .imagenesPortafolio {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }   
    
    .maquetado , .club ,.fiu {
        width: 90%;
        margin-left: 4%;
        margin-bottom: 4%;
    }
}

@media screen and (max-width: 830px) {
    .menuLineal a {
        font-size: 1.2rem;
    }

    .nombre , .nombre2 , .apellido {
        font-size: 3rem;
    }

    .whatsapp {
        margin-left: 55%;
        margin-top: 56%;
    }
    
    .linkedin {
        margin-left: 51%;
        margin-top: 56%;
    }
    
    .instagram {
        margin-left: 47%;
        margin-top: 56%;
    
    }
    
    .facebook {
        margin-left: 43%;
        margin-top: 56%;
    
    }
    
    .mail {
        margin-left: 39%;
        margin-top: 56%;
    
    }
}

@media screen and (max-width: 800px) {
    .menuLineal {
        display: none;
    }


    .dropdown {
        display: inline;
        width: 10%;
        position: absolute;
        float: right;
        margin-left: 88%;
        margin-top: 3%;
    }

    .dropdown:hover .menuDesplegable {
        display: block;
    }

    .menuDesplegable {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .menuDesplegable a {
        text-decoration: none;
        color: rgb(78, 75, 75);
        font-family: 'Amatic SC', cursive;
        font-size: 1.5rem;
    }

    .botonMenu {
        background-color: rgb(252, 183, 217);
        padding: 3px;
        font-family: 'Amatic SC', cursive;
        font-size: 1.7rem;
        width: 100%;
        border-color: white;
        border-end-end-radius: 50%;
        border-top-left-radius: 50%;
    }

    .hola {
        margin-top: 10%;
        margin-left: 12%;
        font-size: 2rem;
    }

    .nombre {
        margin-top: 17%;
        margin-left: 9%;
    }
    
    .nombre2 {
        margin-top: 25%;
        margin-left: 9%;
    }
    
    .apellido {
        margin-top: 33%;
        margin-left: 9%;
    }

    .imagenInicio {
        width: 80%;
    }

    .profesiones {
        width: 20%;
        font-size: 1rem;
        margin-top: 49%;
        margin-left: 8%;
    }

    .whatsapp , .linkedin , .instagram , .facebook , .mail {
        width: 3%;
    }

    .whatsapp {
        margin-left: 86%;
        margin-top: 48%;
    }
    
    .linkedin {
        margin-left: 83%;
        margin-top: 53%;
    }
    
    .instagram {
        margin-left: 78%;
        margin-top: 57%;
    
    }
    
    .facebook {
        margin-left: 72%;
        margin-top: 60%;
    
    }
    
    .mail {
        margin-left: 66%;
        margin-top: 63%;
    
    }

    .imagenSobremi {
        margin-top: 10%;
    }
        
    .botonCv {
        width: 40%;
    }

    .github {
        width: 5%;
    }

    .presentacion {
        margin-top: 15%;
        width: 90%;
    }
}

@media screen and (max-width: 760px) {
    .hola {
        font-size: 1.8rem;   
    }

    .imagenInicio {
        width: 70%;
    }

    .nombre , .nombre2 , .apellido {
        font-size: 2.8rem;
    }

    .profesiones {
        font-size: 0.9;
        margin-top: 47%;
        margin-left: 18%;
    }

    .whatsapp {
        margin-left: 86%;
        margin-top: 44%;
    }
    
    .linkedin {
        margin-left: 83%;
        margin-top: 50%;
    }
    
    .instagram {
        margin-left: 78%;
        margin-top: 54%;
    
    }
    
    .facebook {
        margin-left: 72%;
        margin-top: 57%;
    
    }
    
    .mail {
        margin-left: 65%;
        margin-top: 60%;
    
    }
}

@media screen and (max-width: 730px) {
    .hola {
        font-size: 1.7rem;   
    }

    .nombre , .nombre2 , .apellido {
        font-size: 2.7rem;
    }

    .profesiones {
        font-size: 0.8;
    }

    .whatsapp {
        margin-left: 84%;
        margin-top: 46%;
    }
    
    .linkedin {
        margin-left: 81%;
        margin-top: 51%;
    }
    
    .instagram {
        margin-left: 76%;
        margin-top: 55%;
    
    }
    
    .facebook {
        margin-left: 70%;
        margin-top: 58%;
    
    }
    
    .mail {
        margin-left: 64%;
        margin-top: 60%;
    
    }   
}

@media screen and (max-width: 660px) {

    .nombre , .nombre2 , .apellido {
        font-size: 2.4rem;
    }

    .profesiones {
        font-size: 0.4;
    }

    .dropdown {
        margin-left: 86%;
        margin-top: 7%;
        width: 12%;
    }

    .presentacion {
        margin-top: 17%;
        width: 84%;
    }
}

@media screen and (max-width: 610px) {
    .contenedorInicio {
        background-image: linear-gradient( to bottom,  rgb(252, 183, 217),rgb(247, 247, 146));
    }
    
    .imagenInicio {
        width: 100%;
        margin-top: 5%;
        margin-right: 10%;
        padding-left: 20%;
    }
    
    .hola {
        font-size: 2.5rem; 
        margin-top: 65%;  
    }

    .nombre , .nombre2 , .apellido {
        font-size: 4rem;
    }

    .nombre {
        margin-top: 77%;
        margin-left: 20%;
    }

    .nombre2 {
        margin-top: 91%;
        margin-left: 20%;
    }

    .apellido {
        margin-top: 105%;
        margin-left: 20%;
    }

    .profesiones {
        font-size: 1.5rem;
        width: 90%;
        margin-top: 127%;
        margin-left: 5%;
        text-align: center;
    }

    .whatsapp , .linkedin , .instagram , .facebook , .mail {
        width: 5%;
    }

    .whatsapp {
        margin-left: 86%;
        margin-top: 43%;
    }
    
    .linkedin {
        margin-left: 81%;
        margin-top: 49%;
    }
    
    .instagram {
        margin-left: 74%;
        margin-top: 53%;
    
    }
    
    .facebook {
        margin-left: 66%;
        margin-top: 56%;
    
    }
    
    .mail {
        margin-left: 58%;
        margin-top: 58%;
    
    }  
    
    .presentacion {
        font-size: 1.5rem;
        margin-top: 12%;
    }

    .habilidades {
        font-size: 1.5rem;
    }

    .github {
        width: 5%;
    }

    .dropdown {
        margin-left: 10%;
        margin-top: 10%;
    }

    .botonMenu {
        background-color: rgb(252, 183, 217);
        padding: 3px;
        font-family: 'Amatic SC', cursive;
        font-size: 1.7rem;
        width: 100%;
        border-color: white;
        border-end-end-radius: 50%;
        border-top-left-radius: 50%;
    }

    .presentacion {
        margin-top: 20%;
        margin-left: 20%;
        width: 60%;
        
    }

    .github {
        margin-left: 80%;
        margin-top: 12%;
    }

}

@media screen and (max-width: 540px) {
    .nombre , .nombre2 , .apellido {
        margin-left: 10%;
    }

    .nombre {
        margin-top: 79%;
    }

    .nombre2 {
        margin-top: 96%;
    }

    .apellido {
        margin-top: 113%;
    }

    .profesiones {
        margin-top: 138%;
        margin-left: 5%;
    }

    .imagenSobremi {
        width: 100%;
    }

    .textoSobremi {
        font-size: 1.3rem;
        margin: 5%;
    }
    
    .botonCv {
        width: 75%;
        font-size: 1rem;
    }

    .dropdown {
        width: 15%;
        margin-left: 9%;
        margin-top: 9%;
    }
}

@media screen and (max-width: 450px) {
    .hola {
        font-size: 2.2rem; 
        margin-top: 68%;  
    }

    .nombre , .nombre2 , .apellido {
        font-size: 3.1rem;
    }

    .nombre {
        margin-top: 80%;
    }

    .nombre2 {
        margin-top: 96%;
    }

    .apellido {
        margin-top: 112%;
    }

    .profesiones {
        font-size: 1.6rem;
    }

    .github {
        width: 7%;
    }

    .presentacion {
        margin-top: 15%;
    }

    .dropdown {
        width: 18%;
        margin-left: 7%;
        margin-top: 7%;
    }

    .presentacion {
        margin-top: 20%;
    }
}

@media screen and (max-width: 360px) {
    .hola {
        font-size: 1.8rem; 
    }

    .nombre , .nombre2 , .apellido {
        font-size: 2.8rem;
    }

    .profesiones {
        font-size: 1.2rem;
    }

    .presentacion {
        font-size: 1.3rem;
        margin-top: 20%;
    }

    .habilidades {
        font-size: 1.2rem;
    }

    .github {
        width: 9%;
    }

    .imagenSobremi {
        width: 109%;
        padding-top: 12%;
    }

    .dropdown {
        width: 20%;
        margin-left: 9%;
        margin-top: 9%;
    }

    .presentacion {
        margin-top: 25%;
        margin-left: 28%;
        width: 50%;
    }
}

@media screen and (max-width: 320px) {
    .hola {
        font-size: 1.8rem; 
    }

    .nombre , .nombre2 , .apellido {
        font-size: 2.6rem;
    }

    .profesiones {
        font-size: 0.8rem;
    }
}